<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/YueYun">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/yueyun/dao/TbUser.hbm.xml</value>
				<value>com/yueyun/dao/TbTrack.hbm.xml</value>
				<value>com/yueyun/dao/TbArtist.hbm.xml</value>
				<value>com/yueyun/dao/TbAlbum.hbm.xml</value>
				<value>com/yueyun/dao/TbArtistlist.hbm.xml</value></list>
		</property>
	</bean>
	<bean id="transactionManager" 
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="transactionInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager"></property>
		<property name="transactionAttributes">
			<props>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<list>
				<value>tbUserService</value>
			</list>
		</property>
		<property name="interceptorNames">
			<list>
				<value>transactionInterceptor</value>
			</list>
		</property>
	</bean>
	
	<bean id="TbUserDAO" class="com.yueyun.dao.TbUserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TbUserService" class="com.yueyun.service.TbUserService">
		<property name="tbUserDAO">
			<ref bean="TbUserDAO" />
		</property>
	</bean>
	<!-- Action Declare -->
	<bean id="UserLoginAction" class="com.yueyun.action.UserLoginAction">
		<property name="tbUserService">
			<ref bean="TbUserService" />
		</property>
	</bean>
	<bean id="UserLogoutAction" class="com.yueyun.action.UserLogoutAction">
		
	</bean>
	<bean id="UserRegisterAction" class="com.yueyun.action.UserRegisterAction">
		<property name="tbUserService">
			<ref bean="TbUserService" />
		</property>
	</bean>
	<bean id="UserHomeAction" class="com.yueyun.action.UserHomeAction">
	</bean>
	<bean id="VerifyCodeImageAction" class="com.yueyun.action.VerifyCodeImageAction">
		
	</bean>
	<bean id="TbTrackDAO" class="com.yueyun.dao.TbTrackDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TbArtistDAO" class="com.yueyun.dao.TbArtistDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TbAlbumDAO" class="com.yueyun.dao.TbAlbumDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TbArtistlistDAO" class="com.yueyun.dao.TbArtistlistDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean></beans>