<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/YueYun">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/yueyun/dao/TbUser.hbm.xml</value>
				<value>com/yueyun/dao/TbTrack.hbm.xml</value>
				<value>com/yueyun/dao/TbArtist.hbm.xml</value>
				<value>com/yueyun/dao/TbAlbum.hbm.xml</value>
				<value>com/yueyun/dao/TbArtistlist.hbm.xml</value>
				<value>com/yueyun/dao/TbHotartist.hbm.xml</value>
				<value>com/yueyun/dao/TbHotrecommendtrack.hbm.xml</value>
				<value>com/yueyun/dao/TbNewalbum.hbm.xml</value>
				<value>com/yueyun/dao/TbNewrecommendtrack.hbm.xml</value>
				<value>com/yueyun/dao/TbTrackrank.hbm.xml</value>
				<value>com/yueyun/dao/TbTrackplaylist.hbm.xml</value>
				<value>com/yueyun/dao/TbUserplaylist.hbm.xml</value>
				<value>com/yueyun/dao/TbStatus.hbm.xml</value>
				<value>com/yueyun/dao/TbRelation.hbm.xml</value>
				<value>com/yueyun/dao/TbCollect.hbm.xml</value></list>
		</property>
	</bean>
	<bean id="transactionManager" 
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="transactionInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager"></property>
		<property name="transactionAttributes">
			<props>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="check*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<list>
				<value>tbUserService</value>
				<value>tbIndexService</value>
				<value>tbTrackService</value>
				<value>tbAlbumService</value>
				<value>tbArtistService</value>
				<value>tbPlayService</value>
				<value>tbStatusService</value>
				<value>tbRelationService</value>
				<value>tbCollectService</value>
			</list>
		</property>
		<property name="interceptorNames">
			<list>
				<value>transactionInterceptor</value>
			</list>
		</property>
	</bean>
	
	<!-- Action Declare -->
	<bean id="UserLoginAction" class="com.yueyun.action.UserLoginAction">
		<property name="tbUserService">
			<ref bean="TbUserService" />
		</property>
	</bean>
	<bean id="UserLogoutAction" class="com.yueyun.action.UserLogoutAction">
		
	</bean>
	<bean id="UserRegisterAction" class="com.yueyun.action.UserRegisterAction" scope="prototype">
		<property name="tbUserService">
			<ref bean="TbUserService" />
		</property>
	</bean>
	<bean id="UserPlayAjaxAction" class="com.yueyun.action.UserPlayAjaxAction" scope="prototype">
		<property name="tbPlayService">
			<ref bean="TbPlayService" />
		</property>
	</bean>
	<bean id="UserStatusAction" class="com.yueyun.action.UserStatusAction" scope="prototype">
		<property name="tbStatusService">
			<ref bean="TbStatusService" />
		</property>
	</bean>
	<bean id="UserCollectAjaxAction" class="com.yueyun.action.UserCollectAjaxAction" scope="prototype">
		<property name="tbCollectService">
			<ref bean="TbCollectService" />
		</property>
	</bean>
	<bean id="UserFriendAjaxAction" class="com.yueyun.action.UserFriendAjaxAction" scope="prototype">
		<property name="tbRelationService">
			<ref bean="TbRelationService" />
		</property>
	</bean>
	
	
	<bean id="UserHomeAction" class="com.yueyun.action.UserHomeAction" scope="prototype">
		<property name="tbStatusService">
			<ref bean="TbStatusService" />
		</property>
		<property name="tbRelationService">
			<ref bean="TbRelationService" />
		</property>
	</bean>
	<bean id="UserCollectAction" class="com.yueyun.action.UserCollectAction" scope="prototype">
		<property name="tbCollectService">
			<ref bean="TbCollectService" />
		</property>
	</bean>
	<bean id="UserFriendAction" class="com.yueyun.action.UserFriendAction" scope="prototype">
		<property name="tbRelationService">
			<ref bean="TbRelationService" />
		</property>
	</bean>
	<bean id="PublicIndexAction" class="com.yueyun.action.PublicIndexAction">
		<property name="tbIndexService">
			<ref bean="TbIndexService" />
		</property>
	</bean>
	<bean id="UserPlayAction" class="com.yueyun.action.UserPlayAction" scope="prototype">
		<property name="tbPlayService">
			<ref bean="TbPlayService" />
		</property>
	</bean>
	<bean id="PublicMusicAction" class="com.yueyun.action.PublicMusicAction">
		<property name="tbTrackService">
			<ref bean="TbTrackService" />
		</property>
		<property name="tbAlbumService">
			<ref bean="TbAlbumService" />
		</property>
		<property name="tbArtistService">
			<ref bean="TbArtistService" />
		</property>
	</bean>
	<bean id="VerifyCodeImageAction" class="com.yueyun.action.VerifyCodeImageAction">
	</bean>
	
	<!-- Service Declare -->
	<bean id="TbUserService" class="com.yueyun.service.TbUserService">
		<property name="tbUserDAO">
			<ref bean="TbUserDAO" />
		</property>
		<property name="tbUserplaylistDAO">
			<ref bean="TbUserplaylistDAO" />
		</property>
	</bean>
	<bean id="TbIndexService" class="com.yueyun.service.TbIndexService">
		<property name="tbNewAlbumDAO">
			<ref bean="TbNewalbumDAO" />
		</property>
		<property name="tbNewRecommendTrackDAO">
			<ref bean="TbNewrecommendtrackDAO" />
		</property>
		<property name="tbHotRecommendTrackDAO">
			<ref bean="TbHotrecommendtrackDAO" />
		</property>
		<property name="tbTrackRankDAO">
			<ref bean="TbTrackrankDAO" />
		</property>
		<property name="tbHotArtistDAO">
			<ref bean="TbHotartistDAO" />
		</property>
		<property name="tbTrackService">
			<ref bean="TbTrackService" />
		</property>
		<property name="tbAlbumService">
			<ref bean="TbAlbumService" />
		</property>
		<property name="tbArtistService">
			<ref bean="TbArtistService" />
		</property>
	</bean>
	<bean id="TbTrackService" class="com.yueyun.service.TbTrackService">
		<property name="tbTrackDAO">
			<ref bean="TbTrackDAO" />
		</property>
		<property name="tbArtistListDAO">
			<ref bean="TbArtistlistDAO" />
		</property>
		<property name="tbAlbumService">
			<ref bean="TbAlbumService" />
		</property>
		<property name="tbArtistService">
			<ref bean="TbArtistService" />
		</property>
	</bean>
	<bean id="TbAlbumService" class="com.yueyun.service.TbAlbumService">
		<property name="tbAlbumDAO">
			<ref bean="TbAlbumDAO" />
		</property>
		<property name="tbTrackDAO">
			<ref bean="TbTrackDAO" />
		</property>
		<property name="tbArtistService">
			<ref bean="TbArtistService" />
		</property>
		<property name="tbTrackService">
			<ref bean="TbTrackService" />
		</property>
	</bean>
	<bean id="TbArtistService" class="com.yueyun.service.TbArtistService">
		<property name="tbArtistDAO">
			<ref bean="TbArtistDAO" />
		</property>
		<property name="tbAlbumDAO">
			<ref bean="TbAlbumDAO" />
		</property>
		<property name="tbArtistlistDAO">
			<ref bean="TbArtistlistDAO" />
		</property>
		<property name="tbTrackService">
			<ref bean="TbTrackService" />
		</property>
		<property name="tbAlbumService">
			<ref bean="TbAlbumService" />
		</property>
	</bean>
	<bean id="TbPlayService" class="com.yueyun.service.TbPlayService">
		<property name="tbTrackplaylistDAO">
			<ref bean="TbTrackplaylistDAO" />
		</property>
		<property name="tbUserplaylistDAO">
			<ref bean="TbUserplaylistDAO" />
		</property>
		<property name="tbTrackService">
			<ref bean="TbTrackService" />
		</property>
		<property name="tbAlbumService">
			<ref bean="TbAlbumService" />
		</property>
	</bean>
	<bean id="TbStatusService" class="com.yueyun.service.TbStatusService">
		<property name="tbStatusDAO">
			<ref bean="TbStatusDAO" />
		</property>
		<property name="tbUserService">
			<ref bean="TbUserService" />
		</property>
		<property name="tbRelationService">
			<ref bean="TbRelationService" />
		</property>
		<property name="tbAlbumService">
			<ref bean="TbAlbumService" />
		</property>
		<property name="tbTrackService">
			<ref bean="TbTrackService" />
		</property>
	</bean>
	<bean id="TbRelationService" class="com.yueyun.service.TbRelationService">
		<property name="tbRelationDAO">
			<ref bean="TbRelationDAO" />
		</property>
		<property name="tbUserService">
			<ref bean="TbUserService" />
		</property>
	</bean>
	<bean id="TbCollectService" class="com.yueyun.service.TbCollectService">
		<property name="tbCollectDAO">
			<ref bean="TbCollectDAO" />
		</property>
		<property name="tbAlbumService">
			<ref bean="TbAlbumService" />
		</property>
		<property name="tbTrackService">
			<ref bean="TbTrackService" />
		</property>
		<property name="tbUserService">
			<ref bean="TbUserService" />
		</property>
	</bean>
	
	
	<!-- DAO Declare Create by Myeclipse -->
	<bean id="TbUserDAO" class="com.yueyun.dao.TbUserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TbTrackDAO" class="com.yueyun.dao.TbTrackDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TbArtistDAO" class="com.yueyun.dao.TbArtistDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TbAlbumDAO" class="com.yueyun.dao.TbAlbumDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TbArtistlistDAO" class="com.yueyun.dao.TbArtistlistDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TbHotartistDAO" class="com.yueyun.dao.TbHotartistDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TbHotrecommendtrackDAO"
		class="com.yueyun.dao.TbHotrecommendtrackDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TbNewalbumDAO" class="com.yueyun.dao.TbNewalbumDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TbNewrecommendtrackDAO"
		class="com.yueyun.dao.TbNewrecommendtrackDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TbTrackrankDAO" class="com.yueyun.dao.TbTrackrankDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TbTrackplaylistDAO"
		class="com.yueyun.dao.TbTrackplaylistDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TbUserplaylistDAO"
		class="com.yueyun.dao.TbUserplaylistDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TbStatusDAO" class="com.yueyun.dao.TbStatusDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TbRelationDAO" class="com.yueyun.dao.TbRelationDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TbCollectDAO" class="com.yueyun.dao.TbCollectDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean></beans>