@charset "utf-8";
/* CSS Document */

#backToTopContainer
{
	height:75px;
	width:48px;
	bottom:0;
	right:5px;
	z-index:9999;
	background-attachment: scroll;
	background-image: url(../img/common/scrollTop.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	position:fixed;
}

#backToTopContainer a
{
	background-image: url(../img/common/scrollTop.png);
	height: 48px;
	width: 48px;
	overflow:hidden;
	display:block;
	background-repeat: no-repeat;
	background-position: 0px 0px;	
}

#backToTopContainer a:hover
{
	background-position: -48px 0px;
}