@charset "utf-8";
/* CSS Document */

#homeNavBarContainer
{
	height:30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D8D8D8;
	/* background-color:#FFF; */
}

.homeNavBarItems
{
	list-style:none;
	margin-left:10px;	
}

.homeNavBarItem
{
	float:left;
	width:72px;
	height:27px;
	background-color: #F1F1F1;
	text-align:center;
	line-height:27px;
	margin-right:5px;
	margin-top:3px;
	border-radius:3px 3px 0 0;
}

.homeNavBarItem:hover
{
	background-color: #6FA736;
}

.homeNavBarItem:hover a
{
	color:#FFFFFF;
}

.homeNavBarItem a
{
	color:#666666;
}

.homeNavBarItem a:hover
{
	color:#FFFFFF;
	text-decoration:none;
}

.homeNavBarItemOn
{
	float:left;
	width:70px;
	height:27px;
	background-color: #FFFFFF;
	text-align:center;
	line-height:27px;
	margin-right:5px;
	margin-top:2px;
	border-radius:3px 3px 0 0;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #6FA736;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #D8D8D8;
	border-left-color: #D8D8D8;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}

.homeNavBarItemOn a
{
	color:#000000;
}

.homeNavBarItemOn a:hover
{
	text-decoration:none;
}