@charset "utf-8";
/* CSS Document */

#homePageBack
{
	background-color: #B3DF89;
	background-attachment: scroll;
	background-image: url(../img/home/body_bg.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
}

#homePageContainer
{
	/*min-height:1000px;*/
}

#homePageHeaderContainer
{
	position:relative;
	height:180px;
	background-color:#FFF;
}

#homePageHeaderContainer #homePageMenuContainer
{
	height:30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D8D8D8;
	background-color:#FFF;
}

.homePageMenuItems
{
	list-style:none;
	margin-left:250px;	
}

.homePageMenuItem
{
	float:left;
	width:72px;
	height:27px;
	background-color: #F1F1F1;
	text-align:center;
	line-height:27px;
	margin-right:5px;
	margin-top:3px;
	border-radius:3px 3px 0 0;
}

.homePageMenuItem:hover
{
	background-color: #6FA736;
}

.homePageMenuItem:hover a
{
	color:#FFFFFF;
}

.homePageMenuItem a
{
	color:#666666;
}

.homePageMenuItem a:hover
{
	color:#FFFFFF;
	text-decoration:none;
}

.homePageMenuItemOn
{
	float:left;
	width:70px;
	height:27px;
	background-color: #FFFFFF;
	text-align:center;
	line-height:27px;
	margin-right:5px;
	margin-top:2px;
	border-radius:3px 3px 0 0;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #6FA736;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #D8D8D8;
	border-left-color: #D8D8D8;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}

.homePageMenuItemOn a
{
	color:#000000;
}

.homePageMenuItemOn a:hover
{
	text-decoration:none;
}

#homePageHeaderContainer #homePageAvatarContainer
{
	position:absolute;
	left:0;
	top:-100px;
	width:198px;
	height:198px;
	background-image: url(../img/home/avatar_bg.png);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.homePageAvatar
{
	margin:7px;
}

.homePageAvatar img
{
	width:184px;
	height:184px;
}

#homePageUserInfoContainer
{
	position:absolute;
	left:0;
	top:110px;
}

#homePageUserInfoContainer .homePageUserNameContainer
{
	margin-left:20px;
	font-size:14px;
	font-weight:bold;
	color: #6FA736;
}

#homePageUserInfoContainer .homePageUserSocialContainer
{
	margin-left:20px;
	margin-top:5px;
}

.homePageUserSocialContainer ul
{
	list-style:none;
}

.homePageUserSocialContainer li
{
	float:left;
	margin-right:5px;
	color:#666666;
}

.homePageUserSocialContainer li a
{
	color: #6FA736;
}

.homePageUserSocialContainer span
{
	display:block;
}

#homePageUserStatusContainer
{
	height:150px;
	background-color: #F5F5F5;
}

#homePageUserStatusContainer textarea
{
	width:600px;
	height:75px;
	margin-left:250px;
	/*margin-top:30px;*/
	border: 1px solid #C1C1C1;
	overflow-y: auto;
	resize:none;
	border-radius:5px;
	font-size:14px;
	font-family: "microsoft yahei",tahoma,simsun,Helvetica,Arial,"sans-serif";
}

#homePageUserStatusContainer textarea:focus
{
	border: 1px solid #669933;
}

#homePageUserStatusSizeContainer
{
	height:30px;
	position:relative;
	line-height:30px;
}

#homePageUserStatusSizeContainer span
{
	position:absolute;
	right:110px;
	color:#666666;
}

#homePageUserStatusOptContainer
{
	position:relative;
}

#homePageUserStatusOptContainer .homePageUserStatusPulishButton
{
	background-image: url(../img/home/ico_home.png);
	background-position: -406px -90px;
	width:90px;
	height:30px;
	line-height:30px;
	text-align:center;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color:#FFF;
	font-size:14px;
	position:absolute;
	right:110px;
	top:5px;
	font-family: "microsoft yahei",tahoma,simsun,Helvetica,Arial,"sans-serif";
	cursor:pointer;
}

#homePageUserStatusOptContainer .homePageUserStatusPulishButtonDisabled
{
	background-image: url(../img/home/ico_home.png);
	background-position: -406px -60px;
	width:90px;
	height:30px;
	line-height:30px;
	text-align:center;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color:#FFF;
	font-size:14px;
	position:absolute;
	right:110px;
	top:5px;
	font-family: "microsoft yahei",tahoma,simsun,Helvetica,Arial,"sans-serif";
	cursor:pointer;
}

#homePageContentContainer
{
	background-color:#FFF;
	/*height:500px;*/
}

#homePageMainContainer
{
	float:left;
	/*height:100%;*/
	width:674px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #E6E6E6;
}

#homePageSideContainer
{
	float:right;
	width:285px;
	/*height:100%;*/
}

#homePageStatusMenuContainer
{
	margin-top:15px;
	margin-left:17px;
}

#homePageStatusMenuContainer .homePageStatusMenuItem
{
	float:left;
	padding-left:5px;
	padding-right:5px;
	padding-top:3px;
	padding-bottom:3px;
}

.homePageStatusMenuItem:hover
{
	background-color: #E4F0D6;	
}

#homePageStatusMenuContainer .homePageStatusMenuItemOn
{
	float:left;
	padding-left:5px;
	padding-right:5px;
	padding-top:3px;
	padding-bottom:3px;
	background-color: #9FAB90;
}

.homePageStatusMenuItem a
{
	color:#666666;
}

.homePageStatusMenuItemOn a
{
	color:#FFF;
}

.homePageStatusMenuItem a:hover,
.homePageStatusMenuItemOn a:hover
{
	text-decoration:none;
}

.homePageStatusItemContainer
{
	min-height:70px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E6E6E6;
}

.homePageStatusItemContainer .homePageStatusAvatarContainer
{
	float: left;
    padding: 10px 0 0 20px;
}

.homePageStatusAvatarContainer img
{
	width:40px;
	height:40px;
}

.homePageStatusItemContainer .homePageStatusContentContainer
{
	padding: 10px 20px 10px 80px;
}

.homePageStatusItemContainer .homePageStatusBottomContainer
{
	height:26px;
	line-height:26px;
}

.homePageStatusBottomContainer .statusTime
{
	color:#999999;
	padding-left:80px;
	float:left;
}

.homePageStatusContentContainer .userName
{
	color:#669900;
	font-size:14px;
	font-weight:bold;
}

.homePageStatusContentContainer .statusContent
{
	font-size:14px;
	color:#333333;
}