@charset "utf-8";
/* CSS Document */

#indexPageBack
{
	background-color: #FFF;	
}

#indexPageContainer
{
	height:1350px;
}

#indexLeftPageContainer
{
	width:740px;
	float:left;
}

#indexRightPageContainer
{
	width:220px;
	float:left;
}

#newAlbumContainer
{
	width:700px;
	overflow: hidden;
	margin-bottom:25px;
}

#newAlbumContainer .title
{
	border-left: 5px solid #FF0000;
	height: 26px;
	margin-bottom: 18px;
	background-image: url(../img/index/index_title_bg.png);
	background-repeat: no-repeat;
	background-position: 10px 0px;
}

#newAlbumContainer .newAlbumListContainer
{
	width:710px;
}

.newAlbumListContainer .newAlbumList
{
	float:left;
}

.newAlbumListContainer .newAlbumListItem
{
	height:130px;
	width:130px;
	float:left;
	margin-right: 12px;
	margin-bottom: 10px;
	list-style-type: none;
	position:relative;
}

.newAlbumListItem img
{
	width:130px;
	height:130px;
}

.newAlbumListItem a,
.newAlbumListItem a:hover
{
	text-decoration:none;
}

.newAlbumListItem .albumName
{
	color: #98E404;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
	background-color: #000;
	position:absolute;
	left:0;
	bottom:20px;
	width:125px;
	padding-left:5px;
	opacity:0.75;
}

.newAlbumListItem .artistName
{
	color: #FFFFFF;
	line-height: 20px;
	background-color: #000;
	position:absolute;
	left:0;
	bottom:0;
	width:125px;
	padding-left:5px;
	opacity:0.75;
}

#chartContainer
{
	width:220px;
	overflow:hidden;
	margin-bottom:20px;
	border-bottom-width: 0.5px;
	border-bottom-style: dotted;
	border-bottom-color: #E4E4E4;
}

#chartContainer .title
{
	height:18px;
	background-image: url(../img/index/index_title_bg.png);
	background-repeat: no-repeat;
	background-position: 0px -220px;
	margin-bottom: 13px;
	padding-left: 6px;
}

#chartContainer .chartItemsContainer
{
	
}

#chartContainer .chartItemsContainer .chartItems
{
	list-style:none;
	height:275px;
}

.chartItems .firstChartItem
{
	height:40px;
	overflow:hidden;
	line-height:40px;
	width:220px;
}

.chartItems .chartItem
{
	height:24px;
	overflow:hidden;
	line-height:24px;
	width:220px;
}

.firstChartItem .rank
{
	color: #FF5400;
	font-size:20px;
	float:left;
	width:30px;
}

.firstChartItem .trackName
{
	color: #FF5400;
	font-size:22px;
	padding-left:10px;
	float:left;
	
    overflow: hidden;
    table-layout: fixed;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
    word-break: keep-all;
}

.firstChartItem a:hover,
.chartItem a:hover
{
	text-decoration:none;
}

.firstChartItem .artistName,
.chartItem .artistName
{
	color: #515151;
	float:left;
	text-align:right;
	
	
	overflow: hidden;
    table-layout: fixed;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70px;
    word-break: keep-all;
}

.chartItem .rank
{
	color: #8B8B8B;
	font-size:12px;
	float:left;
	width:30px;
}

.chartItem .trackName
{
	color: #0F820C;
	font-size:12px;
	padding-left:10px;
	float:left;
	
	overflow: hidden;
    table-layout: fixed;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
    word-break: keep-all;
}

#popularArtistContainer
{
	width:220px;
	overflow:hidden;
	margin-bottom:20px;
	border-bottom-width: 0.5px;
	border-bottom-style: dotted;
	border-bottom-color: #E4E4E4;
}

#popularArtistContainer .title
{
	height:18px;
	background-image: url(../img/index/index_title_bg.png);
	background-repeat: no-repeat;
	background-position: 0px -202px;
	margin-bottom: 13px;
	padding-left: 6px;
}

#popularArtistContainer .popularArtistsContainer
{
	
}

#popularArtistContainer .popularArtistsContainer .popularArtists
{
	list-style:none;
	height:178px;
	width:252px;
}

.popularArtists .popularArtistItem
{
	float: left;
    height: 90px;
    margin: 0 34px 0 0;
    overflow: hidden;
    width: 50px;
}

.popularArtists .popularArtistItem a:hover
{
	text-decoration:none;
}

.popularArtists .popularArtistItem img
{
	height: 50px;
	width:50px;
	display:block;
}

.popularArtists .popularArtistItem .artistName
{
	color: #0F820C;
	line-height:24px;
	display:block;
	
	overflow: hidden;
    table-layout: fixed;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50px;
    word-break: keep-all;
}

#newRecommendContainer, #hotRecommendContainer
{
	width:350px;
	float:left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #E5E5E5;
	margin-bottom:20px;
}

#newRecommendContainer .title
{
	border-left: 5px solid #8BCC00;
	height: 26px;
	margin-bottom: 18px;
	background-image: url(../img/index/index_title_bg.png);
	background-repeat: no-repeat;
	background-position: 10px -52px;
}

#hotRecommendContainer .title
{
	border-left: 5px solid #8BCC00;
	height: 26px;
	margin-bottom: 18px;
	background-image: url(../img/index/index_title_bg.png);
	background-repeat: no-repeat;
	background-position: 10px -253px;
}

.recommendTrackListContainer .recommendTrackList
{
	list-style:none;
	height:360px;
}

.recommendTrackList .recommendTrackItem
{
	width:350px;
	font-size:14px;
	line-height:24px;
	height:24px;
	margin-bottom:12px;
}

.recommendTrackItem a:hover
{
	text-decoration:none;
}

.recommendTrackItem .trackName
{
	color: #0F820C;
	line-height:24px;
	float:left;
	margin-left:10px;
	
	overflow: hidden;
    table-layout: fixed;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px;
    word-break: keep-all;
}

.recommendTrackItem .artistName
{
	color: #515151;
	line-height:24px;
	float:left;
	
	overflow: hidden;
	table-layout: fixed;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 120px;
	word-break: keep-all;
}

.recommendTrackItem .date
{
	color: #515151;
	float:right;
	text-align:right;
	font-size:12px;
	margin-right:15px;
}

.recommendTrackItem .count
{
	color: #515151;
	float:right;
	text-align:right;
	font-size:12px;
	margin-right:15px;
}

#recommendContainer
{
	width:710px;
	overflow:hidden;
}

#customAlbumContainer
{
	width:720px;
	overflow:hidden;
}

#customAlbumContainer .title
{
	border-left: 5px solid #FF0000;
	height: 26px;
	margin-bottom: 18px;
	background-image: url(../img/index/index_title_bg.png);
	background-repeat: no-repeat;
	background-position: 10px -78px;
}

.customAlbumListContainer .customAlbumList
{
	list-style:none;
	height:350px;
}

.customAlbumList .firstCustomAlbumItem
{
	height:350px;
	width:270px;
	float:left;
	margin-right:15px;
}

.customAlbumList .firstCustomAlbumItem img
{
	display: block;
    height: 270px;
    width: 270px;
}

.customAlbumList .customAlbumItem
{
	width:130px;
	height:186px;
	float:left;
	margin-right:12px;
}

.customAlbumList .customAlbumItem img
{
	display: block;
    height: 130px;
    width: 130px;
}

.customAlbumItem a:hover,
.firstCustomAlbumItem a:hover
{
	text-decoration:none;
}

.customAlbumItem .albumName
{
	color:#0F820C;
	line-height:20px;
	display:block;
	
	overflow: hidden;
    table-layout: fixed;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 270px;
    word-break: keep-all;
}

.firstCustomAlbumItem .albumName
{
	color:#0F820C;
	line-height:20px;
	display:block;
	
	overflow: hidden;
    table-layout: fixed;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 130px;
    word-break: keep-all;
}

.customAlbumItem .albumDescription,
.firstCustomAlbumItem  .albumDescription
{
	color:#8B8B8B;
	display:block;
	overflow: hidden;
}