@charset "utf-8";
/* CSS Document */

#trackPageBack
{
	background-color:#FFF;
	padding-top:20px;
}

#trackPageContainer
{
	background-color:#FFF;
}

.trackPageLeftContainer
{
	float:left;
	width:700px;
}

.trackPageLeftContainer .trackTitleContainer
{
	color: #333333;
    float: left;
    font-size: 28px;
    height: 34px;
    line-height: 34px;
    margin: 10px 0;
    width: 700px;
}

.trackPageLeftContainer .trackPlayContainer
{
	float: left;
	width: 700px;
	height:30px;
	margin:5px 0 20px 0;
}

.trackPlayContainer .play
{
	float: left;
	background-attachment: scroll;
	background-image: url(../img/artist/singer_bg.png);
	background-repeat: no-repeat;
	background-position: 0px -279px;
	width:30px;
	height:30px;
	margin-right:10px;	
}

.trackPlayContainer .play:hover
{
	background-position: 0px -310px;
}

.trackPlayContainer .add
{
	float: left;
	background-attachment: scroll;
	background-image: url(../img/artist/singer_bg.png);
	background-repeat: no-repeat;
	background-position: -80px -279px;	
	width:30px;
	height:30px;
	margin-right:10px;
}

.trackPlayContainer .add:hover
{
	background-position: -80px -310px;	
}

.trackPageLeftContainer .trackDetailContainer
{
	float:left;
	color: #8B8B8B;
	line-height: 24px;
	width:450px;
}

.trackDetailContainer span
{
	display:block;
}

/*Copy from album.css Start*/
.trackOptionContainer
{
	float:right;
	width:218px;
	border: 1px solid #DDDDDD;
	height:31px;
	width: 218px;
	margin-top:40px;
}

.trackOptionContainer .trackOptionItem
{
	float:left;
	border-right: 1px solid #DDDDDD;
	height:31px;
	line-height:31px;
	color: #515151;
	text-decoration:none;
}

.trackOptionContainer .trackOptionItem:hover
{
	background-color: #0F820C;
	color: #FFF;
}

.trackOptionItem.like
{
	width: 71px;
}

.trackOptionItem.like .likeImg
{
	background-position: -111px -138px;
	background-image: url(../img/index/icon_sprite.png);
	width:22px;
	height:22px;
	background-attachment: scroll;
	background-repeat: no-repeat;
	margin: 4px 7px 0 10px;
	float:left;
}

.trackOptionItem.like:hover .likeImg
{
	background-position: -111px -160px;
}

.trackOptionItem.store
{
	width: 71px;
}

.trackOptionItem.store .storeImg
{
	background-position: -155px -182px;
	background-image: url(../img/index/icon_sprite.png);
	width:22px;
	height:22px;
	background-attachment: scroll;
	background-repeat: no-repeat;
	margin: 4px 7px 0 10px;
	float:left;
}

.trackOptionItem.store:hover .storeImg
{
	background-position: -177px -182px;
}

.trackOptionItem.share
{
	width: 74px;
	border-right-style: none;
}

.trackOptionItem.share .shareImg
{
	background-position: -133px -138px;
	background-image: url(../img/index/icon_sprite.png);
	width:22px;
	height:22px;
	background-attachment: scroll;
	background-repeat: no-repeat;
	margin: 4px 7px 0 10px;
	float:left;
}

.trackOptionItem.share:hover .shareImg
{
	background-position: -133px -160px;
}

/*Copy from album.css End*/

.trackPageLeftContainer .trackDetailBorder
{
	border-bottom: 1px dotted #C6C6C6;
	height:20px;
	width:700px;
	float:left;
}

.trackPageLeftContainer .trackLyricContainer
{
	width:700px;
	float:left;
	color:#8B8B8B;
}

.trackLyricContainer .trackLyricTitle
{
	width:700px;
	float:left;
	font-size:14px;
	line-height:30px;
	font-weight:bold;
	margin:13px 0;
}

.trackLyricContainer span
{
	line-height:30px;
}

.trackPageRightContainer
{
	float:right;
	width:220px;
}

.trackPageRightContainer .trackAlbumImgContainer
{
	width:220px;
}

.trackAlbumImgContainer img
{
	height: 220px;
    width: 220px;
}

.trackPageRightContainer .trackAlbumTracksContainer
{
	width: 220px;
}

.trackAlbumTracksContainer .trackAlbumTracksTitle
{
	color:#8B8B8B;
	font-size:14px;
	margin:10px 0;
}

.trackAlbumTracksContainer .trackAlbumTracksItem
{
	float:left;
	height:30px;
	width: 220px;
}

.trackAlbumTracksItem .trackName
{
	width:120px;
	height: 30px;
	line-height:30px;
	font-size:14px;
	float:left;
}

.trackName a
{
	color:#0F820C;
}

.trackName a:hover
{
	text-decoration:none;
}

.trackAlbumTracksItem .trackOption
{
	float:right;
	width: 100px;
	margin-top:10px;
}

/*Copy from album.css Start*/
.trackOption .play
{
	height: 14px;
	width: 14px;
	display:inline-block;
	background-image: url(../img/index/icon_sprite.png);
	background-position: 0px -169px;
}

.trackOption .play:hover
{
	background-position: 0px -183px;
}

.trackOption .add
{
	height: 14px;
	width: 14px;
	display:inline-block;
	background-image: url(../img/index/icon_sprite.png);
	background-position: -42px -169px;
}

.trackOption .add:hover
{
	background-position: -42px -183px;
}

.trackOption .like
{
	height: 14px;
	width: 14px;
	display:inline-block;
	background-image: url(../img/index/icon_sprite.png);
	background-position: -14px -169px;
}

.trackOption .like:hover
{
	background-position: -14px -183px;
}

.trackOption .collect
{
	height: 14px;
	width: 14px;
	display:inline-block;
	background-image: url(../img/index/icon_sprite.png);
	background-position: -71px -211px;
}

.trackOption .collect:hover
{
	background-position: -56px -211px;
}

.trackOption .share
{
	height: 14px;
	width: 14px;
	display:inline-block;
	background-image: url(../img/index/icon_sprite.png);
	background-position: -28px -169px;
}

.trackOption .share:hover
{
	background-position: -28px -183px;
}
/*Copy from album.css End*/

#shareTrackDialogContainer {
	width:420px;
	height:240px;
	background:#FFF;
	display:none;
	padding:30px;
}

#shareTrackDialogContainer .shareTrackDialogTitle {
	background-attachment: scroll;
	background-image: url(../img/track/share_bg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height:36px;
	width:75px;	
}

#shareTrackDialogContainer .shareTrackStatusContainer {
	margin-top:20px;
}

#shareTrackDialogContainer .shareTrackStatusSizeContainer {
	color: #8B8B8B;
	font-size:24px;
	float:right;
	margin:10px 0;
}

#shareTrackDialogContainer .shareTrackOptionContainer {
	float:right;
}

#shareTrackDialogContainer .shareTrackSuccessContainer {
    position: absolute;
	color: #669900;
	height: 33px;
	width:117px;
	z-index:10;
	font-size:14px;
	line-height:33px;
	width:120px;
	top:120px;
	left:170px;
}

.shareTrackSuccessContainer span {
	display:block;
	float:left;
}

.shareTrackSuccessContainer .successIcon {
	height: 33px;
	width: 33px;
	background-attachment: scroll;
	background-image: url(../img/home/ico_home.png);
	background-repeat: no-repeat;
	background-position: 0px -180px;
	float:left;
	margin-right:10px;
} 

.shareTrackOptionContainer .confirm {
	background: none repeat scroll 0 0 #0F820C;
    border: 1px solid #0F820C;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    width: 70px;
}

a.confirm,
a:hover.confirm {
	text-decoration:none;
}

.shareTrackOptionContainer .cancel {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    color: #8B8B8B;
    display: inline-block;
    font-size: 14px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    width: 70px;
}

a.cancel,
a:hover.cancel {
	text-decoration:none;
}

.shareTrackStatusContainer textarea {
	width:420px;
	height:100px;
	border: 1px solid #C1C1C1;
	overflow-y: auto;
	resize:none;
	border-radius:5px;
	font-size:14px;
	font-family: "microsoft yahei",tahoma,simsun,Helvetica,Arial,"sans-serif";
}

.simplemodal-container .simplemodal-close {
	height: 20px;
	overflow: hidden;
	position: absolute;
	width: 20px;
	right:20px;
	background-attachment: scroll;
	background-image: url(../img/index/icon_sprite.png);
	background-repeat: no-repeat;
	background-position: -70px -70px;
}

.simplemodal-container .simplemodal-close:hover {
	background-position: -90px -70px;
}

#collectTrackDialogContainer {
	width:350px;
	height:140px;
	background:#FFF;
	display:none;
	position:relative;
}

#collectTrackDialogContainer .collectTrackSuccessContainer {
	position: absolute;
	color: #669900;
	height: 33px;
	width:117px;
	z-index:10;
	font-size:14px;
	line-height:33px;
	width:220px;
	top:60px;
	left:110px;
}

.collectTrackSuccessContainer .successIcon {
	height: 33px;
	width: 33px;
	background-attachment: scroll;
	background-image: url(../img/home/ico_home.png);
	background-repeat: no-repeat;
	background-position: 0px -180px;
	float:left;
	margin-right:10px;
}

.collectTrackSuccessContainer span
{
	display:block;
	float:left;
}